<div class="fixed-top">
  
    <div class="container">
      <a href="#" class="navbar-brand">
        <img src="/assets/logo.png" />
      </a>
      <a a href="#"><img src="/assets/carrinho.png" /></a>
    </div>

    <mat-toolbar>
      <button mat-icon-button class="sendButton">
        <mat-icon>menu</mat-icon>
      </button>

      <button mat-raised-button class="sendButton" aria-label="Example icon-button with heart icon">
        Reserva
      </button>

      <button mat-raised-button class="sendButton" aria-label="Example icon-button with share icon">
        Lista de Salas
      </button>

    </mat-toolbar>

</div>

<div class="banner">
  <img src="/assets/banners/header.png" />
</div>