.col-sm-4{
 width: 100%;
 height: 100%;
}

.title{
    font-family: poppins;
    font-size: 28px;
    font-weight: bold;
    color: #111111;
    line-height: 28px;
}

.sub-title{
    font-family: poppins;
    font-size: 16px;
    font-weight:lighter;
    color: #4f4f4f;
    line-height: 28px;
}

.card {
    max-width: 200px;
    min-width: 100px;
    margin: 2em;
    height: -moz-fit-content;
    height: fit-content;
  }

  .mat-form-field {
    margin-right: 12px;
  }

  .sendButton{
    font-family: poppins;
    color: #fff;
    background-color: #7a35ff;
    border-color: #7a35ff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

  .mat-card-title{
    font-family: poppins;
    font-size: 24px;
    font-weight: bold;
    color: #111111;
    line-height: 28px;
  }

  .mat-card-subtitle{
      font-family: poppins;
      font-size: 14px;
      font-weight: lighter;
      color: #898989;
      line-height: 28px;
  }